<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/commande.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  
  
</head>
<body>
  
  <div id="page">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://pasdsushi.glitch.me/commande.html" >Pas d'Sushi</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-default bouton2" v-on:click="showCart = !showCart" v-show="!verified"><img src="https://image.flaticon.com/icons/svg/138/138270.svg" alt="logo">
        
            <div class="basket">Afficher ma commande</div>
            
          </button></li>
          
          <li><button type="button" class="btn btn-default bouton2"><img src="https://image.flaticon.com/icons/svg/399/399274.svg" alt="logo">
        <a href="https://pasdsushi.glitch.me/"> 
          <div class="basket"> 
            Me déconnecter 
          </div>
        </a>
            
          </button></li>
          
        </ul>
      </div>
      
    </nav> 

  <div class="cart" v-show="showCart">
    <div v-show="items.length === 0">
      <p>Votre commande est vide !</p>
    </div>
    <div v-show="items.length > 0">
      
      <ul>
        <li v-for="item in items" transition="fade">
          <p>
            <br/>
            <div class="cartitem">
              <strong>
                {{ item.quantity }}
              </strong> x {{ item.name }} 
              <button v-on:click="removeFromCart(item)" type="button bouton2 btn btn-default" class="removeFromCart">
              <div class="removebutton">
                <img  class="removebutton" src="https://cdn.glitch.com/1789c23f-5d61-43ce-8ba6-a72a16c6a503%2Fminus.png?1536307099059">
              </div>
              </button>
            </div>
          </p>
        </li>
      </ul>
   
      <div>
        <button type="button" class="btn btn-info">Envoyer la commande</button>
      </div>
    
    </div>
  </div>
  
  
      <div class="btn-group btnrose">
        <button v-on:click="tab=horsdoeuvre" type="button" class="btn btn-primary btnrose">
          Hors d'oeuvre
        </button>
      </div>
      
      <div class="btn-group btnrose">
        <button v-on:click="tab=yakitori" type="button" class="btn btn-primary btnrose">
          Yakitori
        </button>
      </div>
      
      <div class="btn-group btnrose">
        <button v-on:click="tab=sushi" type="button" class="btn btn-primary btnrose">
          Sushi
        </button>
      </div>
      
      <div class="btn-group btnrose">
        <button v-on:click="tab=maki" type="button" class="btn btn-primary btnrose">
          Maki
        </button>
      </div>
      
      <div class="btn-group btnrose">
        <button v-on:click="tab=neigerolls" type="button" class="btn btn-primary btnrose">
          Neige rolls
        </button>
    </div>
  
  <div class="btn-group btnrose">
        <button v-on:click="tab=sashimi" type="button" class="btn btn-primary btnrose">
          Sashimi
        </button>
      </div>
  
  <div class="btn-group btnrose">
        <button v-on:click="tab=springrolls" type="button" class="btn btn-primary btnrose">
          Spring Rolls
        </button>
      </div>
  
  <div class="btn-group btnrose">
        <button v-on:click="tab=salmonrolls" type="button" class="btn btn-primary btnrose">
          Salmon Rolls
        </button>
      </div>
  
    <div v-if="tab=tab">
   
       <div class="container">
          <div class="tab" >
              <div v-for="item in tab">
                <div>
                  <p><img class ="article" v-bind:src="'' + item.path" /></p>
                  <h5><a class="name">{{ item.name }},</a></h5>
                  <p><a class="description">{{ item.description }}</a></p> 
                  <button v-on:click="addToCart(item)" type="button" class="addtocart"><img style="width:65px;height:65px;" src="https://cdn.glitch.com/4ca1a4f9-246e-42f1-86dd-d7df39c3b679%2Faddtocart.png?1537022848857">   Add to Cart</button> x{{item.quantity}} paires
                </div>
                <br/>
                <br/>
                <br/>
              </div>
          </div>
       </div>
  
    </div>


    
</div>

  <div>
    <h1 class="titres" id="about">À propos</h1>

    <div class="container3">
      <div class="team_detaillée">
        <div class="koko_image">
          <img alt="Korentin - Ingénieur mécanicien" src="https://cdn.glitch.com/be1cc56d-122b-42a1-970c-93f761441af3%2FKoko.png?1542571352073" width="100%" height="100%">
        </div>
        <div class="member_deatile">
          <h2>Korentin</h2>
          <p>Founder - Ingénieur mécanicien</p>
        </div>
        <div class="member_description">
          <p>Je suis un gars cool, passioné<br>&amp; bon commercial.</p>
        </div>
      </div>

      <div class="team_detaillée">
        <div class="robin_image">
          <img alt="Robin - Expert Big Data" src="https://cdn.glitch.com/be1cc56d-122b-42a1-970c-93f761441af3%2FRobin.png?1542571351724" width="100%" height="100%">
        </div>
        <div class="member_deatile">
          <h2>Robin</h2>
          <p>Founder - Expert Big Data</p>
        </div>
        <div class="member_description">
          <p>Je suis un mec sympa<br>&amp; très travailleur.</p>
        </div>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="../js/commande.js"></script>

</body>
</html>