html{	
	background-repeat: no-repeat;
	background-size: 600px 600px;
}

body {
	height: 100%;
	margin:0;
	padding:0;
	text-align:center;
  
}

div.entete{
	display:flex;
	margin-left:auto;
	color: Black;
}

h2 {
  font: 400 20px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h3 {
  font: 400 40px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: Black;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

a.CensierBeaumont{
	color: Black;
	text-align: left; 
}

a.CensierBeaumont:hover{
	color: Grey;
}

img{
    width: 70px;
    height: 70px;
}

.signin{

	width: 500px;
  height: 500px;

  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;

  margin-right: auto;
	margin-left:auto;
	
	margin-top:100px;
	
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	color:Green;
}

.inputs{
	
	width: 250px;
  height: 500px;

  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;

	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	color:Salmon;

}

.button {
  border-radius: 4px;
  background-color: Black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 20px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.checkinput{
	display:flex;
	margin-right: auto;
	margin-left:auto;
	margin-top:5px;
	
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}

.checkuser{
	margin-top:15px;
	font-size:22px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
	background-color:WhiteSmoke;
	width: 100%;
  color: black;
  text-align: center;
}
